.fancy-label {
    background-color: rgb(25, 181, 254);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
    transform: rotate(-12deg);
    font-size: 1.7rem;
    line-height: 50px;
    height: 50px;
    width: 500px;
    border-radius: 3px;
    margin: 0px;
}